#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
li {
  list-style: none;
}

.plus_minus {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 30px;
  gap: 30px;
}
p {
  font-size: 25px;
}
